extends ../layouts/default
include ../mixins/form-contact

block intro
	.container
		.page-intro
			h1.text-center Contact Us
			+flash-messages(messages)
	
	.page-content
		if inquirySubmitted
			h3.text-center Thanks for getting in touch.
		else
			.contain
				+form-contact({ modal: false, initial: 'contact' })
