extends ../layouts/default

include ../mixins/organizer

block intro

block content

	section.page1
		// Huge Title centered
		.huge-title
			img.page1-logo(src='/images/hacksmiths-logo.svg')
			// This Logo is only displayed on Tablet/iPhone !
			h2 HACKSMITHS
			h5 Helping People Help People
			.row.row-callout
				.medium-6.small-12.columns.small-centered.callout
					h1.callout-text
						| COMING SOON 04/02/2016
						br
			.button-join-us.div-button
				a(href='/contact')
					h5.h5-button-join-us GET IN TOUCH
	// Who we are section
	section.page-1-section.who-we-are
		.section-intro: .container
			h1.section-title Who We Are
			p.lead The Hacksmiths are a group of software professionals working collaboratively in a virtual environment in an effort to solve real world problems through the development of software.
		.section-content
			.page-1-section.highlight: .container
				h2.text-center Founders
				.row.about-organizers
					.col-sm-1
					each org in organizers
						.col-sm-5
							+organizer(org)
					.col-sm-1
	hr
	section.page-1-section.what-we-do
		.section-intro: .container
			h1.section-title What We Do
			p.lead We build tools designed to help non-profit organizations streamline their philanthropic efforts, utilizing industry best practices and advanced software development methodologies.
		.section-content
			.page-1-section.highlight: .container
				.row
					.col-md-12
						.col-md-4
							h4.text-center We Help People 
							p Our first priority is to help people.  We provide the organizations we work with mission critical software to help people help people.
						.col-md-4
							h4.text-center We Work with Non Profits
							p We work with non profit organizations and startups to make their visions a reality.  Our platform was created out of neccesity and a desire to use our skills for good.  If you are part of a non profit and have an idea for software that would help your organization and your cause, let us know!
						.col-md-4
							h4.text-center Build Software
							p We build first class web and mobile software using the most advanced frameworks and technologies available.  We have experienced developers creating iOS, Android, Front and Backend web applciations and more!  Our designers and organizers are world class and they help to turn vision into reality.
				.row
					.col-md-12
						h3.text-center Our Mission
						.col-md-1
						.col-md-10
							blockquote
								p.text-center
									em We work to create top-notch web and mobile software built to help real people.  We use our skills to create free and open-source software in an effort to solve world problems.
						.col-md-1
		

	section.what-we-do
		div.row
			.small-12.columns
				//- h1.text-center What We Do
block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

				
