extends ../layouts/default

block intro

block content
	// Preload the Whole Page
	// NAVIGATION ###############################################
	.cbp-af-header
		nav.row-nav#nav
			// Share DIV
			// End Share dIV
			// Logo
			#logo
				a(href='/')
					img(alt='Hacksmiths logo', src='/images/hacksmiths-logo-text.png')
			// Links
			ul#nav-right
				li
					if user
						a(href='/login') Login
					else
						a(href='/join') Sign up
	// END NAVIGATION ###############################################
	// HEADER ###############################################

	section.page1
		// Huge Title centered
		.huge-title
			img.page1-logo(src='/images/hacksmiths-logo.svg')
			// This Logo is only displayed on Tablet/iPhone !
			h2 HACKSMITHS
			.row.row-callout
				.medium-8.small-12.columns.small-centered.callout
					h1.callout-text
						| COMING SOON 04/02/2016
						br
			.button-join-us.div-button
				a(href='/join')
					h5.h5-button-join-us GET IN TOUCH