extends ../layouts/default

block intro

block content

	section.page1
		// Huge Title centered
		.huge-title
			img.page1-logo(src='/images/hacksmiths-logo.svg')
			// This Logo is only displayed on Tablet/iPhone !
			h2 HACKSMITHS
			.row.row-callout
				.medium-6.small-12.columns.small-centered.callout
					h1.callout-text
						| COMING SOON 04/02/2016
						br
			.button-join-us.div-button
				a(href='/contact')
					h5.h5-button-join-us GET IN TOUCH
	section.who-we-are
		//- div.row
		//- 	.small-12.columns
		//- 		h1.text-center Who we are
		//- div.row
		//- 	.small-12.medium-6.columns
		//- 		.small-6.columns
		//- 			p The Hacksmiths are a group of skilled digital product craftsmen who donate their time to create software for Non Profit Organizations.  We work collaboratively in a digital environment to create apps for social good.  We deliver professionally designed web and mobile software for the benefit of non-profit organizations.
		//- 			p We work in a highly organized fashion using the latest and greatest technologies and agile software development methodologies in order to deliver end products of the highest quality.  
		//- 	.small-12.medium-6.columns
		//- 		.small-6.columns
		//- 			img.responsive(src='http://placehold.it/400x400')
			hr
	section.what-we-do
		div.row
			.small-12.columns
				//- h1.text-center What We Do

				
