extends ../layouts/default

include ../mixins/organizer

block intro

block content
	.fullscreen.background.parallax
		.content-main
			.content-sub
				.section.main-header
					img.page1-logo(src='/images/hacksmiths-logo.svg')
					h2 Hacksmiths
					h4.sub-header Helping People Help People
					.button-join-us.div-button
						a(href='/contact')
							h5.h5-button-join-us GET IN TOUCH

	// Who we are section
	section.page-1-section.who-we-are
		.section-intro: .container
			h1.section-title Who We Are
			p.lead The Hacksmiths are a group of software professionals working collaboratively in a virtual environment in an effort to solve real world problems through the development of software.
		.section-content
			.page-1-section.highlight: .container
				h2.text-center Founders
				.row.about-organizers
					.col-sm-1
					each org in organizers
						.col-sm-5
							+organizer(org)
					.col-sm-1
	hr
	section.page-1-section.what-we-do
		.section-intro: .container
			h1.section-title What We Do
			p.lead We build tools designed to help non-profit organizations streamline their philanthropic efforts, utilizing industry best practices and advanced software development methodologies.
		.section-content
			.page-1-section.highlight: .container
				.row
					.col-md-12
						.col-md-4
							h4.text-center We Help People 
							p Our first priority is to help people.  We provide the organizations we work with mission critical software to help people who help people.
						.col-md-4
							h4.text-center We Work with Non Profits
							p We work with non profit organizations who work with the sick and hungry to make their live's better.  Our platform was created out of neccesity and a desire to use our skills for good.  
							p: #[span If you are part of a non profit and have an idea for software that would help your organization and your cause,] #[a(href="mailto:admin@hacksmiths.io") let us know]#[span !]
						.col-md-4
							h4.text-center We Build Software
							p We build first class web and mobile software using the latest and greatest tech.  
							p Our experienced developers are skilled in creating web, desktop and mobile software, advanced data collection and machine learning systems.
							p We work from the ground up, designing and developing requirements custom tailored to the needs of our stakeholders.
				.row
					.col-md-12
						h3.text-center Our Mission
						.col-md-1
						.col-md-10
							blockquote
								p.text-center
									em Our mission is simple.  We use our skills in order to solve real-world problems.  We strive to implement cutting edge technologies and industry best practices in all of our work.
						.col-md-1
		

	section.what-we-do
		div.row
			.small-12.columns
				//- h1.text-center What We Do
block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

				
