extends ../layouts/default

include ../mixins/organizer

block intro

block content
	.fullscreen.background.parallax
		.content-main
			.content-sub
				.section.main-header
					img.page1-logo(src='/images/hacksmiths-logo.svg')
					h2 Hacksmiths
					h4.sub-header Helping People Help People
					.button-join-us.div-button
						a(href='/contact')
							h5.h5-button-join-us GET IN TOUCH

	// Who we are section
	section.page-1-section.who-we-are
		.contain
			.section-intro: .container
				h1.section-title Who We Are
				p.lead The Hacksmiths are a group of software professionals working collaboratively in a virtual environment in an effort to solve real world problems through the development of software.
			.section-content
				.page-1-section.highlight: .container.container-gray
					h2.text-center Founders
					.row.about-organizers.mv-2
						.col-sm-1
						each org in organizers
							.col-sm-5
								+organizer(org)
						.col-sm-1
			//- .row
			//- 	.container
			//- 		div.hr-title
			//- 			span
			//- 				| Contributing Members
			//- .row.members
			//- 	each member in members
			//- 		.img-wrapper
			//- 			img(src=member.image, alt='Hacksmiths member - ' + member.name, width=40, height=40).img-circle
	hr
	section.page-1-section.what-we-do
		.no-gutter
			.section-intro: .contain
				h1.section-title What We Do
				p.lead We build tools designed to help non-profit organizations streamline their philanthropic efforts, utilizing industry best practices and advanced software development methodologies.
			.section-content
				.page-1-section.highlight
					.row
							.col-md-4
								div.panel.radius.what-we-do-item
									.panel-content
										i.icon-technology.big-icon.centered
										h4.text-center We Help People 
										p.text-gray Our first priority is to solve real problems and create tools to help real people.
										p.text-gray We provide the organizations we work with mission critical software to help people who help people.
							.col-md-4
								div.panel.radius.what-we-do-item
									.panel-content
										i.icon-shapes-1.big-icon.centered
										h4.text-center We Work with Non Profits
										p.text-gray We work with non profit organizations who work with the sick and hungry to make their live's better.  Our platform was created out of necessity and a desire to use our skills for good.  
										
							.col-md-4
								div.panel.radius.what-we-do-item
									.panel-content
										i.icon-computer.big-icon.centered
									h4.text-center We Build Software
									p.text-gray Our experienced developers are skilled in creating web, desktop and mobile software, advanced data collection and machine learning systems.
									p.text-gray We work from the ground up, designing and developing requirements custom tailored to the needs of the organizations we work with.
	
				.row
					.col-md-12.space-3
						h3.text-center Our Mission
						.col-md-12
								blockquote
									p.text-center
										em Our mission is simple.  We use our skills in order to solve real problems.  We strive to implement cutting edge technologies and industry best practices in all of our work.
				.row.space-3
					.col-md-12.text-center
						h3.pad-1 Non-profit?  Need our help?
						a(href='/contact')
							div.button.large.radius Get in touch
		hr
		section.page-1-section.our-work
			.contain
				.section-intro: .container
					h1.section-title Our Work
					p.lead We are hard at work on our first project now!
					div.pad-2
					h2 Waste Not Food Taxi, Powered by Food Drivr
					h2 Coming Soon!
				.section-content
					.page-1-section.highlight: .container
						.row
							.col-md-12
								.col-md-6
								.col-md-6
							
							
		hr
		section.page-1-section.want-to-help
			.section-intro: .contain
				h1.section-title Want to Help?
				p.lead Right now, we are beta testing our platform with the first group of developers.  We will be looking for new people to help out with our next project.
				p.lead Until then, keep working hard and send us a message if you want an invite to our community and we'll do our best to find a spot for you.
				div.mv-2.button.large.radius.center Send a message
			//- .section-content
			//- 	.page-1-section.highlight: .container
			//- 		.row
			//- 			.col-md-12
			//- 				h2.text-center How it works
			//- 			.col-md-12
			//- 		.row
			//- 			ul.
			//- 			ul.how-it-works-list
			//- 				li.how-it-works-item
			//- 					div.panel.radius		
			//- 						.square-panel
			//- 							i.icon-desktop-1.big-icon.centered
			//- 							h5.text-center Register for an Account 
			//- 				li.how-it-works-item
			//- 					div.panel.radius
			//- 						.square-panel
			//- 							i.icon-fashion.big-icon.centered
			//- 							h5.text-center Sign up for a team
			//- 				li.how-it-works-item
			//- 					div.panel.radius
			//- 						.square-panel
			//- 							i.icon-basic_todolist_pen.big-icon.centered
			//- 							h5.text-center Fill out your profile 
			//- 				li.how-it-works-item
			//- 					div.panel.radius
			//- 						.square-panel
			//- 							i.icon-trophy-2.big-icon.centered
			//- 							h5.text-center Climb to the top of the leaderboard
			//- 				li.how-it-works-item
			//- 					div.circle-outline
			//- 						i.icon-code-1.big-icon.centered
			//- 					h5.text-center Solve real problems with code
			//- 							
			//- 		.row
			//- 			.col-md-4
			//- 			.col-md-4.text-center
			//- 				a(href='/join').button.large.radius.primary Get Started Now!
			//- 			.col-md-4
	hr
	section.page-1-section.twitter-feed
		.contain
			.section-intro: container
				h1.section-title What People are Saying
			.section-content
				.row
					.col-md-3
					.col-md-6.text-center
						a.twitter-timeline(href='https://twitter.com/search?q=%40teamhacksmiths', data-widget-id='712395084411568128') Tweets about @teamhacksmiths
					.col-md-3

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				
