include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
//if lt IE 7
	html.no-js.ie6.oldie(lang='en')
//if IE 7
	html.no-js.ie7.oldie(lang='en')
//if IE 8
	html.no-js.ie8.oldie(lang='en')
//if IE 9
	html.no-js.ie9(lang='en')
// [if gt IE 9] <!
html.no-js(lang='en', itemscope='', itemtype='http://schema.org/Product')

	//- HTML HEADER
	head
		// Meta tags & title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title
			| Hacksmiths - a collection of developers and designers collaborating to build prototypes and products using a unique process in a virtual environment.
		meta(name='description', content='.')
		meta(name='keywords', content='')
		meta(name='author', content='humans.txt')
		// Favicon /
		link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-194x194.png', sizes='194x194')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/images/favicons/android-chrome-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/images/favicons/manifest.json')
		link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')
		meta(name='theme-color', content='#ffffff')
		// Favicon /
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')

		// Load the gumby framework
		link(rel='stylesheet', href='/styles/vendor/gumby.css')
		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		// Site header
		include ../includes/layout/header

		//- NOTE:
		//- There is no .container wrapping class around body blocks to allow more flexibility in design.
		//- Remember to include it in your templates when you override the intro and content blocks!

		//- The Intro block appears above flash messages (used for temporary information display)
		block intro

		//- Flash messages allow you to display once-off status messages to users, e.g. form
		//- validation errors, success messages, etc.
		block flash-messages
			+flash-messages(messages)

		//- The content block should contain the body of your template's content
		block content


		//- FOOTER
		block footer
			.row.big-gap
			include ../includes/layout/footer

		block modal
		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')
		// Javascripts
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.js')
		script(type='text/javascript', src='/js/main.js')
		// End JS

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.
		// include google analytics
		include ../includes/google_analytics
		//- Include template-specific javascript files by extending the js block
		block js
