
.icon-spin4:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-chart-area:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-chart-line:before { content: '\e805'; } /* '' */
.icon-chart-pie:before { content: '\e806'; } /* '' */
.icon-users-outline:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-desktop:before { content: '\e809'; } /* '' */
.icon-laptop:before { content: '\e80a'; } /* '' */
.icon-tablet:before { content: '\e80b'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-heartbeat:before { content: '\e80d'; } /* '' */
.icon-github-1:before { content: '\e80e'; } /* '' */
.icon-linkedin-1:before { content: '\e80f'; } /* '' */
.icon-slack:before { content: '\e810'; } /* '' */
.icon-users-1:before { content: '\e811'; } /* '' */
.icon-user-female:before { content: '\e812'; } /* '' */
.icon-user-male:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-github-2:before { content: '\e815'; } /* '' */
.icon-github-circled-1:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-angellist:before { content: '\e818'; } /* '' */
.icon-stackoverflow:before { content: '\e819'; } /* '' */
.icon-group:before { content: '\e81a'; } /* '' */
.icon-quote:before { content: '\e81b'; } /* '' */
.icon-blind:before { content: '\e81c'; } /* '' */
.icon-mobile-1:before { content: '\e81d'; } /* '' */
.icon-desktop-1:before { content: '\e81e'; } /* '' */
.icon-food-1:before { content: '\e81f'; } /* '' */
.icon-money:before { content: '\e820'; } /* '' */
.icon-css:before { content: '\e821'; } /* '' */
.icon-git-squared:before { content: '\e822'; } /* '' */
.icon-window:before { content: '\e823'; } /* '' */
.icon-code:before { content: '\e824'; } /* '' */
.icon-code-1:before { content: '\e825'; } /* '' */
.icon-file-code:before { content: '\e826'; } /* '' */
.icon-check:before { content: '\e827'; } /* '' */
.icon-glyph:before { content: '\e828'; } /* '' */
.icon-glyph-1:before { content: '\e829'; } /* '' */
.icon-glyph-2:before { content: '\e82a'; } /* '' */
.icon-glyph-3:before { content: '\e82b'; } /* '' */
.icon-glyph-4:before { content: '\e82c'; } /* '' */
.icon-glyph-5:before { content: '\e82d'; } /* '' */
.icon-glyph-6:before { content: '\e82e'; } /* '' */
.icon-glyph-7:before { content: '\e82f'; } /* '' */
.icon-glyph-8:before { content: '\e830'; } /* '' */
.icon-glyph-9:before { content: '\e831'; } /* '' */
.icon-glyph-10:before { content: '\e832'; } /* '' */
.icon-glyph-11:before { content: '\e833'; } /* '' */
.icon-glyph-12:before { content: '\e834'; } /* '' */
.icon-glyph-13:before { content: '\e835'; } /* '' */
.icon-glyph-14:before { content: '\e836'; } /* '' */
.icon-glyph-15:before { content: '\e837'; } /* '' */
.icon-glyph-16:before { content: '\e838'; } /* '' */
.icon-glyph-17:before { content: '\e839'; } /* '' */
.icon-basic_accelerator:before { content: '\e83a'; } /* '' */
.icon-basic_display:before { content: '\e83b'; } /* '' */
.icon-basic_home:before { content: '\e83c'; } /* '' */
.icon-basic_heart:before { content: '\e83d'; } /* '' */
.icon-basic_heart_broken:before { content: '\e83e'; } /* '' */
.icon-basic_geolocalize-05:before { content: '\e83f'; } /* '' */
.icon-basic_geolocalize-01:before { content: '\e840'; } /* '' */
.icon-basic_gear:before { content: '\e841'; } /* '' */
.icon-basic_lightbulb:before { content: '\e842'; } /* '' */
.icon-basic_laptop:before { content: '\e843'; } /* '' */
.icon-basic_pencil_ruler_pen-:before { content: '\e844'; } /* '' */
.icon-basic_paperplane:before { content: '\e845'; } /* '' */
.icon-basic_server2:before { content: '\e846'; } /* '' */
.icon-basic_share:before { content: '\e847'; } /* '' */
.icon-basic_smartphone:before { content: '\e848'; } /* '' */
.icon-basic_star:before { content: '\e849'; } /* '' */
.icon-basic_webpage_img_txt:before { content: '\e84a'; } /* '' */
.icon-basic_todolist_pen:before { content: '\e84b'; } /* '' */
.icon-basic_todolist_pencil:before { content: '\e84c'; } /* '' */
.icon-cogwheel:before { content: '\e84d'; } /* '' */
.icon-heart:before { content: '\e84e'; } /* '' */
.icon-home-1:before { content: '\e84f'; } /* '' */
.icon-picture:before { content: '\e850'; } /* '' */
.icon-screen:before { content: '\e851'; } /* '' */
.icon-screen-1:before { content: '\e852'; } /* '' */
.icon-star:before { content: '\e853'; } /* '' */
.icon-stamp:before { content: '\e854'; } /* '' */
.icon-square-1:before { content: '\e855'; } /* '' */
.icon-smartphone:before { content: '\e856'; } /* '' */
.icon-trash:before { content: '\e857'; } /* '' */
.icon-wallet:before { content: '\e858'; } /* '' */
.icon-medal-1:before { content: '\e859'; } /* '' */
.icon-medal-2:before { content: '\e85a'; } /* '' */
.icon-medal-3:before { content: '\e85b'; } /* '' */
.icon-medal-4:before { content: '\e85c'; } /* '' */
.icon-medal-5:before { content: '\e85d'; } /* '' */
.icon-medal:before { content: '\e85e'; } /* '' */
.icon-nobel-prize:before { content: '\e85f'; } /* '' */
.icon-oscars:before { content: '\e860'; } /* '' */
.icon-pulitzer:before { content: '\e861'; } /* '' */
.icon-red-carpet:before { content: '\e862'; } /* '' */
.icon-ribbon:before { content: '\e863'; } /* '' */
.icon-assistant:before { content: '\e864'; } /* '' */
.icon-trophy-2:before { content: '\e865'; } /* '' */
.icon-trophy-3:before { content: '\e866'; } /* '' */
.icon-light-bulb:before { content: '\e867'; } /* '' */
.icon-brain:before { content: '\e868'; } /* '' */
.icon-monitor-with-stats:before { content: '\e869'; } /* '' */
.icon-browser:before { content: '\e86a'; } /* '' */
.icon-browser-visualization:before { content: '\e86b'; } /* '' */
.icon-compass-1:before { content: '\e86c'; } /* '' */
.icon-downloading-from-smartphone:before { content: '\e86d'; } /* '' */
.icon-favorites-button:before { content: '\e86e'; } /* '' */
.icon-glasses:before { content: '\e86f'; } /* '' */
.icon-user-1:before { content: '\e870'; } /* '' */
.icon-picture-1:before { content: '\e871'; } /* '' */
.icon-note:before { content: '\e872'; } /* '' */
.icon-open-book:before { content: '\e873'; } /* '' */
.icon-chart-line-1:before { content: '\e874'; } /* '' */
.icon-quote-circled:before { content: '\e875'; } /* '' */
.icon-accessibility:before { content: '\e876'; } /* '' */
.icon-t-shirt:before { content: '\e877'; } /* '' */
.icon-fashion:before { content: '\e878'; } /* '' */
.icon-shapes:before { content: '\e879'; } /* '' */
.icon-computer:before { content: '\e87a'; } /* '' */
.icon-business:before { content: '\e87b'; } /* '' */
.icon-food:before { content: '\e87c'; } /* '' */
.icon-gesture:before { content: '\e87d'; } /* '' */
.icon-medical:before { content: '\e87e'; } /* '' */
.icon-shapes-1:before { content: '\e87f'; } /* '' */
.icon-shapes-2:before { content: '\e880'; } /* '' */
.icon-technology:before { content: '\e881'; } /* '' */
.icon-food-2:before { content: '\e882'; } /* '' */
.icon-gesture-1:before { content: '\e883'; } /* '' */
.icon-interface:before { content: '\e884'; } /* '' */
.icon-love:before { content: '\e885'; } /* '' */
.icon-medical-1:before { content: '\e886'; } /* '' */
.icon-medical-2:before { content: '\e887'; } /* '' */
.icon-medical-3:before { content: '\e888'; } /* '' */
.icon-multimedia:before { content: '\e889'; } /* '' */
.icon-party:before { content: '\e88a'; } /* '' */
.icon-people-1:before { content: '\e88b'; } /* '' */
.icon-people:before { content: '\e88c'; } /* '' */
.icon-shapes-3:before { content: '\e88d'; } /* '' */
.icon-shapes-4:before { content: '\e88e'; } /* '' */
.icon-sports:before { content: '\e88f'; } /* '' */
.icon-technology-1:before { content: '\e890'; } /* '' */
.icon-technology-2:before { content: '\e891'; } /* '' */
.icon-technology-3:before { content: '\e892'; } /* '' */
.icon-technology-4:before { content: '\e893'; } /* '' */
.icon-technology-5:before { content: '\e894'; } /* '' */
.icon-time:before { content: '\e895'; } /* '' */
.icon-apple:before { content: '\e896'; } /* '' */
.icon-arrow:before { content: '\e897'; } /* '' */
.icon-business-1:before { content: '\e898'; } /* '' */
.icon-cogwheel-1:before { content: '\e899'; } /* '' */
.icon-coins:before { content: '\e89a'; } /* '' */
.icon-computer-1:before { content: '\e89b'; } /* '' */
.icon-computer-2:before { content: '\e89c'; } /* '' */
.icon-computer-3:before { content: '\e89d'; } /* '' */
.icon-computer-4:before { content: '\e89e'; } /* '' */
.icon-computer-5:before { content: '\e89f'; } /* '' */
.icon-computer-6:before { content: '\e8a0'; } /* '' */
.icon-computer-7:before { content: '\e8a1'; } /* '' */
.icon-computer-8:before { content: '\e8a2'; } /* '' */
.icon-computer-9:before { content: '\e8a3'; } /* '' */
.icon-computer-10:before { content: '\e8a4'; } /* '' */
.icon-computer-11:before { content: '\e8a5'; } /* '' */
.icon-computer-12:before { content: '\e8a6'; } /* '' */
.icon-computer-13:before { content: '\e8a7'; } /* '' */
.icon-education:before { content: '\e8a8'; } /* '' */
.icon-eye:before { content: '\e8a9'; } /* '' */
.icon-food-3:before { content: '\e8aa'; } /* '' */
.icon-interface-1:before { content: '\e8ab'; } /* '' */
.icon-multimedia-1:before { content: '\e8ac'; } /* '' */
.icon-party-1:before { content: '\e8ad'; } /* '' */
.icon-people-2:before { content: '\e8ae'; } /* '' */
.icon-signature:before { content: '\e8af'; } /* '' */
.icon-technology-8:before { content: '\e8b0'; } /* '' */
.icon-technology-7:before { content: '\e8b1'; } /* '' */
.icon-technology-6:before { content: '\e8b2'; } /* '' */
.icon-technology-9:before { content: '\e8b3'; } /* '' */
.icon-technology-10:before { content: '\e8b4'; } /* '' */
.icon-technology-11:before { content: '\e8b5'; } /* '' */