.social-signup-buttons
	.signup-button: a(href='/auth/github?target=' + page.path, title='Sign in with Github').btn.btn-link-github.btn-block
		span.entypo-social.entypo-github
		span.signup-button__text  Github

	.signup-button: a(href='/auth/twitter?target=' + page.path, title='Sign in with Twitter').btn.btn-link-twitter.btn-block
		span.entypo-social.entypo-twitter
		span.signup-button__text  Twitter
