a(href='/auth/github?target=' + page.path, title='Sign in with Github').btn.btn-block.btn-social.btn-github
	span.fa.fa-github
	.text-center Sign in with Github
a(href='/auth/twitter?target=' + page.path, title='Sign in with Twitter').btn.btn-block.btn-social.btn-twitter
	span.fa.fa-twitter 
	.text-center Sign in with Twitter
