.social-signup-buttons
	a(href='/auth/github?target=' + page.path, title='Sign in with Github').btn.btn-social-icon.btn-github
		span.fa.fa-github Sign in with Github
	a(href='/auth/twitter?target=' + page.path, title='Sign in with Twitter').btn.btn-social-icon.btn-twitter
		span.fa.fa-twitter Sign in with Twitter
