social-signup-buttons
	.signup-button: a(href='/auth/github?target=' + page.path, title='Sign in with Github').btn.btn-link-github.btn-block
		span.entypo-social.entypo-github
		span.signup-button__text  Github

	.signup-button: a(href='/auth/facebook?target=' + page.path, title='Sign in with Facebook').btn.btn-link-facebook.btn-block
		span.entypo-social.entypo-s-facebook
		span.signup-button__text  Facebook
