extends ../../layouts/default

block flash-messages
	//-It's blank for a reason (to give you a hook for flash messages)

block content
	.contain
		.page-intro
			h1 Join Hacksmiths
			+flash-messages(messages)
		.container
			.page-content
				+auth-forms({ modal: false, initial: 'join' })
block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
