extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.contain
		.page-intro
			h1 Sign Into Hacksmiths
			+flash-messages(messages)
		.container
			.page-content
				+auth-forms({ modal: false, initial: 'signin' })
block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
