.top-bar
 .top-bar-left
   ul.menu
     li.menu-text Yeti Agency
     li
       a(href='#') One
     li
       a(href='#') Two
 .top-bar-right
   ul.menu
     li
       a(href='#') Three
     li
       a(href='#') Four
     li
       a(href='#') Five
     li
       a(href='#') Six
