.top-bar
 .top-bar-left
   ul.menu
    a(href='/')
      img(alt='Hacksmiths logo', id='logo', src='/images/hacksmiths-logo-text.png')
  .top-bar-right
    ul.menu
      li
        a(href='/events') Events
      li
        a(href='/members') Members
      li
        a(href='/about') About
    if !user 
      li
         a(href='/signin') Signin
      li
        a(href='/join') Join
    else
      li.has-dropwdown
        ul.dropdown
          li
            a(href='/me') My Profile
          if user && user.isAdmin
          li
            a(href='/keystone') Admin Area
