html
  body
  .title-bar(data-responsive-toggle='example-menu', data-hide-for='medium')
    button.menu-icon(type='button', data-toggle='')
    .title-bar-title Menu
  #example-menu.top-bar
    .top-bar-left
      ul.menu.title-area
        li.name
          a(href='/')
            img(alt='Hacksmiths logo', id='logo', src='/images/hacksmiths-logo-text.png')
    section.top-bar-section
      ul.right
        li(class=(section === 'events' ? 'active' : '' ))
          a(href='/events') Events
        li(class=(section === 'members' ? 'active' : '' ))
          a(href='/members') Members
        li(class=(section === 'blog' ? 'active' : '' ))
          a(href='/blog') Blog
