html
	body
		nav#example-menu(data-topbar='').top-bar
			.top-bar-left
				ul.menu.title-area
					li.name
						a(href='/')
							img(alt='Hacksmiths logo', id='logo', src='/images/hacksmiths-logo-text.png')
			section.top-bar-section
				ul.right
					li(class=(section === 'home' ? 'active' : '' ))
						a(href='/') Home
					li(class=(section === 'events' ? 'active' : '' ))
						a(href='/events') Events
					li(class=(section === 'members' ? 'active' : '' ))
						a(href='/members') Members
					li(class=(section === 'blog' ? 'active' : '' ))
						a(href='/blog') Blog
					if user
						li.has-dropdown
							a(href='#') Me
							ul.dropdown
								li
									a(href='/me') My Profile
								li
									a(href='/signout') Sign out
					else
						li
							a(href='/join').js-auth-trigger Join
