
$primary-color:#7acff0;

$text-gray:#bfbebe;

$break-small:600px;
$break-medium:768px;
$break-large:1024px;
/*

    EXHO TEMPLATE  V1.0 BY SUPVIEW.BE


    01. Font Face
    02. Generals Settings
    03. Header Section Settings
    04. Navigation Settings
    04. Page1 / Header Section Settings
    05. Media Queries Settings

*/


/* Mixin for vertical alignment */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 01. FONT FACE ================================================== */

@font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGEzfSP8PFPIaW8d4wHl9LSw.woff") format("woff");
}

@font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlDLXPPWpYIJRcQ99gLLWTOQ.woff") format("woff");
}

@font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNF2eBBnhZOFf_rblGEjGiI.woff") format("woff");
}

@font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBgDywzySrQSFSEUM6OqW_g.woff") format("woff");
}

/* 02. GENERALS SETTINGS ================================================== */

/* Container  */

.container
{
    z-index: 9999;
    position: relative;
    background: #FFF;
    overflow: hidden;
}

/* Clear floats of children */

.cbp-so-section:before,
.cbp-so-section:after
{
    content: " ";
    display: table;
    padding: 30px 0;
}

.cbp-so-section:after
{
    clear: both;
}

/* Sides */

.cbp-so-side
{
    width: 100%;
    margin: 0;
    padding: 3em 2%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

body, html
{
    background: #E2E4E7;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

/* Selected text Color */

::-moz-selection
{
    background: none;
    color: #5ac6ff;
}

::selection
{
    background: none;
    color: #5ac6ff;
}

.centered
{
    text-align: center;
}

b, strong
{
    font-weight: 800;
}

/* Make a space */

.space
{
    padding: 20px 0;
}

h1
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0.75em 0.75em 0.25em;
    font-size: 2.70em;
}

h2
{
    font-size: 50px;
    line-height: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0.33em;
}

h3
{
    font: 38px 'Source Sans Pro', sans-serif;
    font-weight: 100;
    padding-bottom: 25px;
    padding-top: 0px;
}

h4 {
    font: 32px 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-weight: 100;
    padding-bottom: 15px;
}

h5
{
    font: 20px 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #FFF;
    text-align: center;
}

span
{
    color: #303333;
    font: 1.5em 'Source Sans Pro', sans-serif;
    opacity: 0.4;
    padding-top: 0px;
}

/* Link */

a
{
    color: #FFF;
    text-decoration: none;
}

/* Paragrah */

p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: rgba(255,255,255,0.80);
    line-height: 30px;
}

p a
{
    border-bottom: 1px dotted #888;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

p a:hover
{
    border-bottom: 1px dotted #FFF;
}

/* 03. NAVIGATION SETTINGS ================================================== */

nav #logo
{
    float: left;
    z-index: 99999;
    margin-top: 20px;
}

nav
{
    z-index: 999;
    width: 100%;
    height: 80px;
}

/* Some stylesheet reset */

#nav-right, #nav-right ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* The main navigation bar */

#nav-right
{
    width: 100%;
}

.nav-logo {
    height:  32px;
}

#nav-right > li
{
    float: right;
    position: relative;
    padding: 20px 15px;
    margin-top: 20px;
}

/* The main navigation links */

#nav-right > li > a
{
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    opacity: 1;
    text-decoration: none;
}

/* The hover state of the links */

#nav-right li:hover a, #nav li .selected
{
    color: rgba(255,255,255,0.60);
}

#nav-right.active {
    border-bottom: 1px solid transparent;
}

/* Navigation Fixed */

.cbp-af-header
{
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 140px;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    transition: height 0.6s;
}

.cbp-af-header #logo img
{
    padding: 33px 20px 0px 0px;
    max-width: 150px;
}

.cbp-af-header #nav a
{
    line-height: 60px;
}

/* Navigation effect on scroll down */

.cbp-af-header.cbp-af-header-shrink
{
    height: 80px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* The button comes to the right place */

.cbp-af-header.cbp-af-header-shrink .button
{
    margin-top: 30px;
    display: block;
}

/* The links goes up */

.cbp-af-header.cbp-af-header-shrink #nav a
{
    margin-top: -150px;
}

/* 04. PAGE 1 / HEADER SETTINGS ================================================== */

.page1
{
    background: url('/images/bg.jpg')#131313;
    background-size: cover;
    height: 100%;
    position: relative;
}

.page1 h1
{
    text-align: center;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}

.page1 h2
{
    color: #FFF;
    letter-spacing: 0px;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    font-weight: 400;
    font-size: 70px;
}

/* Don't display the logo for Phone */

.logo-phone
{
    display: none;
}

/* Huge Title */

.huge-title
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 450px;

    @media screen and (min-width:break-small) {
        margin-top:10px;
    }
}

/* Social Ico */

.social-ico
{
    float: right;
    margin-top: 40px;
}

.h5-main-text
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.page1-logo
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 85px;
}

.row-nav
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.row-callout {
    max-height: 300px
}

.button-join-us {
    margin-top: 45px;
}

.h5-button-join-us
{
    margin-top: auto;
    margin-bottom: auto;;
    font-weight: 600;
    background-clip: padding-box;
    background-color: #5ac6ff;
    color: #FFF;
    border-radius: 4px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 15px auto;
    padding: 10px 0 12px 0;
    letter-spacing: 3px;
    text-shadow: none;
    text-transform: uppercase;
    width: 300px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 05. MEDIA QUERIES  ============================================ */

@media screen and (max-width: 768px)
{
    h2
    {
        font-size: 42px;
    }
    h3
    {
        font-size: 32px;
    }

    .page1-logo {
        display: none;
    }
    .page1-h2 {
        font-size: 22px;
    }
    .callout-text {
        font-size: 16px;
    }
    .h5-main.text {
        width: 85%;
    }
    .huge-title
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 250px;
        padding: 20px;
    }

    #dragit img
    {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 80px;
        right: 0;
    }
    #showhide .trigger
    {
        display: none;
        left: -1000px;
    }
}

.callout {
    margin-top:20px;

    background:rgba(15, 31, 56, .3);
    @include vertical-align();
}

.callout-text {
    font-size: 20px;
    opacity: 1.0;
    color: white;

    @media screen and (min-width: $break-small) {

    }
}

/* Media Queries for iPad in Portrait */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{



}

/* Media Queries for iPad in Landscape */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{

}

