extends ../../layouts/default

include ../../mixins/organizer

block intro
	.page-intro: .container
		h1.page-title About
		p.lead The Hacksmiths are a group of software professionals working collaboratively in a virtual environment in an effort to solve real world problems through the development of software.
		p.lead.small We build tools designed to help non-profit organizations streamline their philanthropic efforts, utilizing industry best practices and advanced software development methodologies.

block content
	.page-content
		.section.highlight: .container
			//- h2 Organizers
			//- p.
			h2 Founders
			p.
			.row.about-organizers
				.col-sm-3
				each org in organizers
					.col-sm-3
						+organizer(org)


		//- CODE
		.section
			.row
				.small-12.columns
					h2 
					
			.row
				.small-12.columns
					
block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
