extends ../../layouts/default

include ../../mixins/event

block content
	.container-sm
		.page-intro.text-left
			a(href='/events').text-muted &larr; Back to all events
		.page-content
			+event(event)