extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Community Mentoring
		p.lead Getting involved with a software project can be difficult.  There are skills that you are expected to have.  We find that the best way to gain those skills is through pracictal experience.  Our mentoring program can help you to get there!
	
block content
	.page-content: .container
		h2 What is the Hacksmiths mentoring program?
		p In an effort to provide professional software of the highest quality to our non profit partners, we expect our contributors to utilize best practices, follow a style guide and have a working understanding of agile software development and SCRUM.
		p Our mentoring program helps Junior software developers gain real experience working with a team leading up to a hackathon event
		p We maintain a repository of helpful resources, including style guides, git workflows, etc. that mentors and mentees can reference on&nbsp
			a(href="https://github.com/teamhacksmiths/mentoring-resources") GitHub
		hr.mv-2
		.row
			.col-sm-6: .tile
				h3 Be a Mentor
				p In order to be a mentor, we expect that you have completed some form of education, whether it be a Udacity Nanodegree, or something else.
				p We also ask that you have taken part in one of our projects.
				ul
					li you should be available during some form of regular schedule to meet on slack or Google Hangouts with your mentee.
					li you should have experience working on one or more Hacksmiths software projects.
					li you don't need to be an expert in the field in order to be a mentor.  The biggest requirement is a desire to help others learn!
				p Interested? <a href="/join">Become a member of Hacksmiths</a> and tick the 'Available for mentoring' box for your profile.
			.col-sm-6: .tile
				h3 Find a Mentor
				p If you are intested in helping out with our non profit projects, but are not sure you are ready, finding a mentor is a great way to get started.  Take a look at the list of available mentors and see if anyone has experience that you would like to gain.
				a(href='/members/mentors').btn.btn-primary View available mentors
		hr.mv-2
		
