extends ../../layouts/default

include ../../mixins/organization

block intro
	.page-intro: .contain
		h1 Organizations
		p.lead The Non Profit organizations that we work with.
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join Hacksmiths
			a(href='/members').btn.btn-default View Members
			a(href='/members/mentors').btn.btn-default View Mentors

block content
	.page-content: .container
		.organizations
			if organizations.length
				each org, index in organizations
					if index
						hr
					+organization(org)
			else
				h3.text-muted There are no organizations yet.
